@page "/connecting"

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background: #121212; /* fallback for old browsers */
            overflow-x: hidden;
            height: 100%;
            /* code to make all text unselectable */
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            /* Disables selector ring */
            body:not(.user-is-tabbing) button:focus,
            body:not(.user-is-tabbing) input:focus,
            body:not(.user-is-tabbing) select:focus,
            body:not(.user-is-tabbing) textarea:focus {
                outline: none;
            }

        h1 {
            color: white;
            font-size: 35px;
            font-weight: 800;
        }

        .flex-container {
            width: 100vw;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content-container {
            width: 500px;
            height: 350px;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 350px;
            margin-top: 5px;
            padding-top: 20px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: #1f1f1f;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
        }

        .subtitle {
            font-size: 11px;
            color: rgba(177, 177, 177, 0.3);
        }

        .ringing-txt {
            justify-content: center;
            font-family: Verdana;
            font-size: 15px;
            color: white
        }

        input {
            border: none;
            border-bottom: solid rgb(143, 143, 143) 1px;
            margin-bottom: 30px;
            background: none;
            color: rgba(255, 255, 255, 0.555);
            height: 35px;
            width: 300px;
        }

        .submit-btn {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            box-shadow: 2px 2px 7px #4b008270;
            background: #4b0082;
            color: rgba(255, 255, 255, 0.8);
            width: 130px;
            transition: all 1s;
        }

            .submit-btn:hover {
                color: rgb(255, 255, 255);
                box-shadow: none;
            }
    </style>
</head>

<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form action="/action_page.php">
                <h1>
                    Username
                </h1>
                <br>
                <br>
                <center class="ringing-txt">Ringing</center>
                <br>
                <center class="ringing-txt">Connecting</center>
                <br>
                <center class="ringing-txt">connecting (timer)</center>
                <br><br><br>
                <input type="text" name="emojis?" value="">
                <br>
                <br><br>
                <img src="images\end-call-icon.png" alt="end-call">
            </form>
        </div>
    </div>
</div>
