<h3>Answer</h3>

<MudPaper Class="pa-16 ma-2">
    <MudText Typo="Typo.h2">Bob</MudText>
    <br><br><br><br><br><br><br><br><br><br>
    <MudImage Src="images/accept-call-icon.png" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
    <MudImage Src="images/end-call-icon.png" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
</MudPaper>
