<h3>Connecting</h3>


<MudPaper Class="pa-16 ma-2">
    <MudText Typo="Typo.h2">Bob</MudText>
    <br><br>
    <MudText Typo="Typo.h6">Ringing</MudText>
    <br>
    <MudText Typo="Typo.h6">Connecting</MudText>
    <br>
    <MudText Typo="Typo.h6">Connected (seconds)</MudText>
    <MudTextField @bind-Value="TextValue" Label="username to call" Variant="Variant.Text"></MudTextField>
    <br><br><br><br>
    <MudImage Src="images/mony.jpg" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
</MudPaper>


@code {
    public string TextValue { get; set; }
}