@page "/"
@using Pulse.Core.Calls
@using Pulse.Client.Calls
@inject ICallInitiator CallInitiator
@inject CurrentCallAccessor CallAccessor
@inject NavigationManager NavManager

<div style="padding: 15px; text-align: center;">
    <h3 style="margin-top: 50px">Who do you want to call?</h3>
    <MudTextField @bind-Value="username" Placeholder="john_doe" HelperText="Enter the username of the person you want to call" 
                  Variant="Variant.Outlined" style="margin-top: 10px" Immediate="true" />
    <MudFab Style="margin-top: 10px" Color="Color.Primary" OnClick="Call" Disabled="@string.IsNullOrWhiteSpace(username)" Label="Call" StartIcon="@Icons.Material.Filled.Phone" />
</div>


@code {
    private string? username;

    private void Call()
    {
        CallAccessor.CurrentCall = new Call(username!, CallInitiator.CallAsync(username!));
        NavManager.NavigateTo("/ActiveCall");
    }
}