@page "/"
@using Pulse.Core.Calls
@using Pulse.Client.Calls
@inject ICallInitiator CallInitiator
@inject CurrentCallAccessor CallAccessor
@inject NavigationManager NavManager

<h3>Dial</h3>
<MudTextField @bind-Value="username" Label="Username" HelperText="Who do you want to call?" Variant="Variant.Outlined"
              Required="true" RequiredError="User name is required!"/>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Call" Disabled="@(username is null)">Call</MudButton>


@code {
    private string? username;

    private void Call()
    {
        CallAccessor.CurrentCall = new Call(username!, CallInitiator.CallAsync(username!));
        NavManager.NavigateTo("/ActiveCall");
    }
}